/*************************************** GERAL ****************************************/

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eaeaea !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none !important;
  color: #000000;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}

/*************************************** top.php ****************************************/

#top {
  background-color: #006cbb;
}

#top .logo {
  width: 15%;
  border-radius: 15px;
}

#top a {
  color: #ffffff;
}


/*************************************** index.php ****************************************/


.section {
  padding: 90px 0 90px 0;
}

.section:nth-child(odd) {
  background-color: rgba(0,0,0,.05);
}




#contato form {
  text-align: center;
}

#contato form label {
  width: 70%;
  color: rgba(0,0,0,.7);
  text-align: left;
}


#contato textarea,
#contato form input[type="text"],
#contato form input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0,0,0,.2);
}

#contato textarea {
  height: 100px;
}

#contato form input[type="submit"] {
  padding: 10px 25px;
  float: left;
}

#contato p:has(input[type=submit]) {
  margin: 0 auto;
  width: 60%;
}






/* .section {
  padding: 32px 100px;
}

.section .titulo {
  margin: 0 0 48px 0;
} */

/* .section .titulo span {
  position: relative;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}

.section .titulo span::after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #039147;
  transform: scaleX(.35);
  transform-origin: left;
} */


/*************************************** rdp.php ****************************************/

#rodape {
  padding: 64px 0;
  background-color: #000000;
  margin-top: auto;
}


/*************************************** copyright.php ****************************************/

#copyright {
  margin: auto 0 0 0;
  /* background-color: #039147; */
  background-color: #2b2b2b;
  border-top: 1px solid rgba(255,255,255,.3);
}

#copyright span {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: #ffffff;
  font-size: 14px;
}

#copyright a {
  display: flex;
  align-self: center;
  margin: 10px auto;
}


/*************************************** MOBILE ****************************************/

@media (max-width: 1600px) {
  #servicos .carousel-control-prev,
  #servicos .carousel-control-next {
    display: none;
  }
}


@media (max-width: 991.98px) {
  .navbar-toggler:focus {
    box-shadow: 0;
  }
 
}

@media (min-width: 991.98px) and (max-width: 1399.98px) {

}

@media (max-width: 767.98px) {


}

@media (max-width: 576px) {

}